.user-container {
  display: flex;
  width: 100%;

  @media (max-width: 700px) {
    overflow-x: hidden;
    flex-direction: column;
  }
}

aside {
  gap: 2rem;
  width: 300px;
  padding: 2rem;
  background-color: #e0f7fa;
  display: flex;
  flex-direction: column;

  @media (max-width: 700px) {
    width: 100%;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (max-width: 700px) {
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

.user-logoText {
  color: #333;
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 650;

  @media (max-width: 700px) {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
  }
}

main {
  width: 85%;

  @media (max-width: 700px) {
    width: 100%;
  }
}
